**filling the missing one**

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
dataset=pd.read_csv(r"D:\My Projects\ML\Data preprocessing for Machine Learning\dataset_nepali.csv")

In [24]:
dataset.head(50)

,ID,Name,Age,District,Salary_NPR,Department,Experience_Years,Rating,Join_Date
0,1,Vidur Hans,54.0,Pokhara,56737.0,Marketing,29.0,4.6,1/1/2000
1,2,Zeeshan Kapadia,41.0,Bhaktapur,137972.0,Human Resources,2.0,4.4,1/2/2000
2,3,Kartik Sane,46.0,Chitwan,117427.0,Operations,36.0,3.0,1/3/2000
3,4,Divij Bobal,38.0,Chitwan,44124.0,Operations,19.0,1.1,1/4/2000
4,5,Uthkarsh Butala,31.0,Lalitpur,90102.0,Information Technology,7.0,3.1,1/5/2000
5,6,Samar Thaker,39.0,Lalitpur,22196.0,Marketing,26.0,3.8,1/6/2000
6,7,Kaira Walla,20.0,Butwal,81527.0,Information Technology,15.0,2.4,1/7/2000
7,8,Baiju Krishna,40.0,Nepalgunj,116651.0,Information Technology,38.0,1.4,1/8/2000
8,9,Ira Karpe,NaN,Kathmandu,135477.0,Operations,3.0,2.1,1/9/2000
9,10,Yuvraj Dhar,29.0,Kathmandu,105395.0,Information Technology,38.0,4.1,1/10/2000
10,11,Azad Subramaniam,51.0,Biratnagar,31345.0,Human Resources,16.0,2.4,1/11/2000
11,12,Vedika Mane,58.0,Biratnagar,144544.0,Information Technology,2.0,4.2,1/12/2000
12,13,Devansh Chaudhary,41.0,Chitwan,54077.0,Human Resources,31.0,2.3,1/13/2000
13,14,Samaira Lanka,NaN,Chitwan,86400.0,Operations,28.0,1.7,1/14/2000
14,15,Ranbir Bala,51.0,Pokhara,32055.0,Marketing,NaN,2.7,1/15/2000
15,16,Yuvaan Ben,46.0,Pokhara,123693.0,Human Resources,30.0,2.8,1/16/2000
16,17,Vedika Bhatt,47.0,Kathmandu,105283.0,Marketing,7.0,1.1,1/17/2000
17,18,Bhamini Johal,37.0,Nepalgunj,64484.0,NaN,36.0,1.5,1/18/2000
18,19,Lavanya Kurian,58.0,Biratnagar,97514.0,Human Resources,29.0,1.7,1/19/2000
19,20,Jayant Dyal,48.0,Kathmandu,110135.0,Operations,24.0,1.5,1/20/2000
20,21,Pranay Aggarwal,37.0,Nepalgunj,55771.0,Finance,39.0,NaN,1/21/2000
21,22,Veer Bava,27.0,Kathmandu,132478.0,Marketing,4.0,4.9,1/22/2000
22,23,Devansh Kibe,50.0,Biratnagar,77654.0,Marketing,29.0,3.0,1/23/2000
23,24,Taimur Bir,53.0,Bhaktapur,66540.0,Operations,5.0,3.5,1/24/2000
24,25,Madhav Sharma,26.0,Pokhara,103151.0,Operations,29.0,2.4,1/25/2000
25,26,Mannat Das,55.0,Butwal,126263.0,Information Technology,30.0,2.3,1/26/2000
26,27,Purab Sandal,37.0,Butwal,130284.0,Operations,29.0,NaN,1/27/2000
27,28,Dishani Chahal,57.0,Butwal,NaN,Marketing,NaN,3.0,1/28/2000
28,29,Dhruv Varma,28.0,Biratnagar,124885.0,Human Resources,19.0,2.9,1/29/2000
29,30,Taimur Bora,28.0,Lalitpur,142393.0,Finance,26.0,1.6,1/30/2000
30,31,Arhaan Varkey,27.0,Lalitpur,49377.0,Information Technology,37.0,4.1,1/31/2000
31,32,Misha Bains,54.0,Lalitpur,115567.0,NaN,27.0,3.0,2/1/2000
32,33,Ira Badami,37.0,Chitwan,69573.0,Finance,30.0,2.4,2/2/2000
33,34,Vihaan Gade,24.0,Pokhara,62733.0,Finance,30.0,1.6,2/3/2000
34,35,Indrajit Rao,33.0,Pokhara,149344.0,Finance,3.0,3.2,2/4/2000
35,36,Veer Khare,47.0,Bhaktapur,31760.0,Human Resources,7.0,4.0,2/5/2000
36,37,Ranbir Dhillon,49.0,Bhaktapur,133226.0,Information Technology,9.0,2.1,2/6/2000
37,38,Sana Barman,23.0,Chitwan,NaN,Information Technology,13.0,1.9,2/7/2000
38,39,Ishita Bhatia,NaN,NaN,45762.0,Finance,15.0,3.1,2/8/2000
39,40,Jivika Krishnan,39.0,Nepalgunj,70986.0,Human Resources,5.0,1.6,2/9/2000
40,41,Anaya Soman,44.0,Bhaktapur,54332.0,Finance,29.0,3.7,2/10/2000
41,42,Drishya Chacko,47.0,Butwal,60100.0,NaN,35.0,3.4,2/11/2000
42,43,Shaan Bava,31.0,Lalitpur,24944.0,Information Technology,27.0,1.3,2/12/2000
43,44,Renee Saini,21.0,Butwal,68825.0,Marketing,27.0,1.1,2/13/2000
44,45,Ela Desai,33.0,Lalitpur,33877.0,Finance,8.0,3.5,2/14/2000
45,46,Indrans Khare,41.0,Butwal,49990.0,NaN,32.0,2.2,2/15/2000
46,47,Stuvan Goswami,50.0,NaN,149065.0,Information Technology,20.0,1.3,2/16/2000
47,48,Kiara Gera,42.0,Nepalgunj,128443.0,Human Resources,10.0,4.0,2/17/2000
48,49,Rasha Sandhu,39.0,Butwal,119612.0,Information Technology,13.0,2.3,2/18/2000
49,50,Kavya Kar,57.0,Butwal,137674.0,Human Resources,29.0,2.8,2/19/2000

In [13]:
# dataset.fillna(10).head(4)

In [26]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1000 non-null   int64
 1   Name              1000 non-null   object
 2   Age               970 non-null    float64
 3   District          959 non-null    object
 4   Salary_NPR        970 non-null    float64
 5   Department        971 non-null    object
 6   Experience_Years  966 non-null    float64
 7   Rating            962 non-null    float64
 8   Join_Date         1000 non-null   object
dtypes: float64(4), int64(1), object(4)
memory usage: 70.4+ KB

In [35]:
# dataset.fillna(method='bfill',axis=1).head(50)

In [40]:
dataset["District"].mode()[0]

'Bhaktapur'

In [45]:
dataset["District"].fillna(dataset["District"].mode()[0])

0         Pokhara
1       Bhaktapur
2         Chitwan
3         Chitwan
4        Lalitpur
          ...
995     Kathmandu
996       Pokhara
997     Nepalgunj
998     Kathmandu
999    Biratnagar
Name: District, Length: 1000, dtype: object

In [48]:
dataset.select_dtypes(include=['object']).isnull().sum()

Name           0
District      41
Department    29
Join_Date      0
dtype: int64

In [50]:
dataset["Department"].mode()[0]

'Finance'

In [51]:
dataset["Department"].fillna(dataset["Department"].mode()[0])

0                   Marketing
1             Human Resources
2                  Operations
3                  Operations
4      Information Technology
                ...
995                 Marketing
996                Operations
997                 Marketing
998           Human Resources
999    Information Technology
Name: Department, Length: 1000, dtype: object